.ct{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    /* background-color:rgb(158, 150, 158); */
    background: url("https://images.unsplash.com/photo-1515339760107-1952b7a08454?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  
}

.addUser {
    background-color: white;
    width: 35%;
    height:35rem;
    
    /* margin in top and bottom will be 50px  */
    /* left and right auto  */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 8px 8px 8px 8px black;
  
    /* horizon offset vertical offset blur offset  */
    /* opacity of shadow */
    /* red, green, blue, and (opacity ). */
  }
  .addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .addUserForm .inputGroup label {
    margin-top: 10px;
  }
  
  .addUserForm .inputGroup input {
    margin-top: 5px;
    padding: 10px;
  }
  .fp{
    text-align: left;
    margin-top:0.5rem;
    font-size: 0.8rem;
    font-weight:bold;
  }
  .inputGroup button {
    margin-top: 10px;
  }
  .login {
    margin-top: 30px;
    text-align: center;
  }
  .para{
    color:blue;
  }
  .login .btn.btn-success {
    width: 50%;
  }
  .bt{
    margin-left: 9rem;
  }
  .snup{
    font-weight:bold;
  }
  .lb{
    text-align:left;
    font-weight:bold;
  }
 
  
  .addUser h3 {
    text-align: center;
    font-weight: bold;
    font-size:2rem;
    color: darkcyan;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }