.rw{
    display:flex;
    /* margin-top: 1rem; */
}
.conainer{
    /* margin:3rem; */
     background-color: rgb(249, 224, 224); 
}

@media screen and (min-width:320px) and (max-width:426px) {
    .rw{
        display:flex;
        flex-direction:column;
    }
    
}
@media screen and (min-width:426px) and (max-width:768px) {
    .rw{
        display:flex;
        flex-direction:column;
    }
    
}